.discovered-footer {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.footer-link {
    width: 100%;
    display: flex;
    gap: 20%;
    justify-content: center;
}

.logo {
    font-family: var(--ff-logo);
    font-size: var(--fz-64);
    color: var(--white);
    cursor: pointer;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom: 12px;
}

.link {
    color: var(--white);
    font-size: var(--fz-32);
    font-family: var(--ff-main);
    position: relative;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px; 
    bottom: 0;
    left: 0; 
    background-color: var(--white); 
    transition: width 0.8s ease-in-out;
}

.link:hover::after {
    animation: underline-left-to-right 0.8s forwards;
}

@keyframes underline-left-to-right {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.copy {
    color: var(--white);
    font-family: var(--ff-text);
    font-size: var(--fz-16);
    padding: 16px;
    text-align: center;
}

.sea-background {
    background-color: var(--sea);
}

.mountain-background {
    background-color: var(--mountain);
}

.desert-background {
    background-color: var(--desert);
}

.forest-background {
    background-color: var(--forest);
}

@media screen and (max-width: 550px){
    .discovered-footer {
        height: 80vh;
    }

    .footer-link {
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .link {
        font-size: var(--fz-24);
    }
}